.gitignore

node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

Dockerfile
docker-compose.yml
docker-compose.yaml

.env
.env.*
!.env.example

.vscode
.idea

.DS_Store

docs/.vitepress/cache
docs/.vitepress/dist
